In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import graphviz
import seaborn as sns

In [7]:
df_carac = pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/07a88205-83c1-4123-a993-cba5331e8ae0", sep = ";")
df_lieux = pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/e85c41f7-d4ea-4faf-877f-ab69a620ce21", sep = ";")
df_usagers = pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/78c45763-d170-4d51-a881-e3147802d7ee", sep = ";")

df_carac = df_carac[["Num_Acc", "an", "hrmn", "lum", "dep", "agg", "atm", "com", "col", "lat", "long"]]
df_lieux = df_lieux[["Num_Acc", "catr", "circ", "nbv", "surf", "infra", "situ", "vma"]] 
df_usagers = df_usagers[["Num_Acc", "id_vehicule", "place", "catu", "sexe", "grav", "an_nais", "trajet", "secu1"]] 

df = df_usagers.merge(df_lieux, on=['Num_Acc'])
df = df.merge(df_carac, on=['Num_Acc'])

In [8]:
df['agg'] = df['agg'].map({1:'Hors agglomeration',
                             2:'Agglomeration'})
df['sexe'] = df['sexe'].map({1:'Homme',
                             2:'Femme'})
df['grav4'] = df['grav'].map({1:'Indemne',
                             2:'Tue',
                             3:'Blesse hospitalise',
                             4:'Blesse leger'})
df['grav2'] = df['grav'].map({1:'Indemne',
                             2:'Blesse',
                             3:'Blesse',
                             4:'Blesse'})
df['catu'] = df['catu'].map({1:'Conducteur',
                             2:'Passager',
                             3:'Pieton'})
df['atm'] = df['atm'].map({1:'Normale',
                             2:'Pluie legere',
                             3:'Pluie forte',
                             4:'Neige',
                          5:'Brouillard',
                          6:'Vent fort',
                          7:'Eblouissant',
                          8:'Couvert',
                          9:'Autre'})
df['col'] = df['col'].map({1:'2 - frontale',
                             2:'2-arriere',
                             3:'2-cote',
                             4:'3-chaine',
                          5:'3-multiple',
                          6:'autre',
                          7:'Sans collision'})
df['catr'] = df['catr'].map({1:'Autoroute',
                             2:'Route nationale',
                             3:'Route départementale',
                             4:'Voie Communale',
                          5:'Hors réseau public',
                          6:'Parc de stationnement',
                          7:'Routes de métropole urbaine',
                          9:'Autre'})
df['surf'] = df['surf'].map({1:'Normale',
                             2:'Mouillée',
                             3:'Flaques',
                             4:'Inondée',
                          5:'Enneigée',
                          6:'Boue',
                          7:'Verglecée',
                             8:'Corps gras - huile',
                          9:'Autre'})

In [9]:
df['age'] = 2019 - df['an_nais']

Pourcentage ligne

In [10]:
pd.crosstab(df.atm, df.grav2, margins = True, normalize = 'index')

grav2           Blesse   Indemne
atm
Autre         0.625882  0.374118
Brouillard    0.676208  0.323792
Couvert       0.592822  0.407178
Eblouissant   0.550079  0.449921
Neige         0.529762  0.470238
Normale       0.587945  0.412055
Pluie forte   0.598237  0.401763
Pluie legere  0.591477  0.408523
Vent fort     0.731771  0.268229
All           0.589063  0.410937

In [7]:
pd.crosstab(df.catu, df.grav2)

grav2       Blesse  Indemne
catu
Conducteur   51140    46216
Passager     15581     8775
Pieton       10942      323